<%= form_with(model: @order, url: orders_path, local: true, class: "container mt-4") do |form| %>
  <div class="mb-3">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-control", placeholder: "Enter your name" %>
  </div>

  <div class="mb-3">
    <%= form.label :phone_number, class: "form-label" %>
    <%= form.text_field :phone_number, class: "form-control", placeholder: "Enter your phone" %>
  </div>

  <div class="mb-3">
    <%= form.submit "Submit", class: "btn btn-primary" %>
    <%= link_to "Back", products_path, class: "btn btn-primary" %>
  </div>
<% end %>
