<div class="container mt-5">
  <div class=" rounded p-4">
      <%= form_with(model: @order, class: "needs-validation", novalidate: true) do |form| %>
        <div class="mb-4">
          <%= form.label :name, "Full Name", class: "form-label fw-bold" %>
          <%= form.text_field :name, class: "form-control", placeholder: "Enter your full name", required: true %>
        </div>

        <div class="mb-4">
          <%= form.label :phone_number, "Phone Number", class: "form-label fw-bold" %>
          <%= form.telephone_field :phone_number, class: "form-control", placeholder: "Enter your phone number", required: true %>
        </div>

        <div class="d-grid gap-2">
          <%= form.submit "ยืนยันคำสั่งซื้อ", class: "btn btn-primary btn-lg rounded-pill shadow" %>
      </div>
      <% end %>

    
    </div>
</div>